.footer {
    display: flex;
    justify-content: space-around;
    /* background-color: #c7d2b0; */
    background-color: #333;
    color: #fff;
    padding: 30px;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    padding-bottom: 30px;
    font-size: 18px;
  }
  .navigation,
  .support,
  .socialMedia,
  .contactInfo
  {
    flex: 1;
  }
  
  h2 {
    color:  #e69a17;
  }
  
  .NavItems,
  .supportItem,
  .socialItems,
  .ContactInfoItems
   {
    list-style: none;
    margin-top: 15px;
    padding: 0 20px;
    
  }
  
  a {
    text-decoration: none;
    color: #fff;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .copyright {
    /* background-color: #333; */
    background-color: #c7d2b0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 20px solid red; */
  }
  
  .copyrightItems {
    list-style: none;
    padding: 0 20px;
    margin: 0 ;
    display: flex;
    align-items: center;
  }
  .copyrightItems img {
    height: 100px;
    width: 160px;
    border-radius: 50%;

  }
  
  
  .copyrightItems li {
    /* color:  #e69a17; */
    margin-right: 80px; 
    padding: 15px;
  }
  
  