
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 font-family: 'Poppins', sans-serif;
}
.cont {
  height: 60%;
  background-color: #333;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:  10px;
}
.logo img {
 max-height: 20%;
max-width: 20%;
border-radius: 50%;

}
.nav-menu {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-menu li {
  margin: 0 10px;
}

.nav-menu a {
  text-decoration: none;
  color: #fff;
}
.startBtn{
  background-color: #e2a438;
    color: #fff;
     padding: 10px;
     font-size: medium;
     border-radius: 8px;
      border:none;
      cursor:pointer;
      
}
button:hover{
  background-color: #333;

}
 .container{
  /* background-color: #ebe1d0; */
  background-color: #c7d2b0;
  display: flex;
  flex-direction: column; 
  align-items: center;

 
}
.text{
  color: #333;
  padding: 20px;
  line-height:1.5;
  margin-right: 400px;
  font-size: 25px;
}
.scalText{
  color:  #e69a17;
}
.aboutPara{
  margin: 30px;
 line-height:1.9;
 font-size: 19px;
}
.userForm{
  display: flex;
  align-items: center;
  margin: auto;

}

 .mainImg{
  /* border: 3px solid red; */
  height : 350px;
  padding: 10%; 
  margin-left: 130px;
  border: none;
  
} 
.userEmail{
  margin-right: 30px;
  padding: 13px;
  margin-bottom: 200px;
  margin-left: 100px;
  
} 
  
@media (max-width: 768px) {
  .cont {
    flex-direction: column;
    align-items: flex-start; 
  }

  .logo .logo-image {
    max-width: 30px;
    max-height: 30px; 
  }

  .nav-menu {
    margin-top: 10px;
  }

}  

